<!DOCTYPE html>
<html>
  <head>
    <title>Estatify</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= favicon_link_tag 'favicon-96x96.png'%>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= render 'shared/navbar' %>

    <%= render 'shared/message' %>

    <div class="container">
      <%= yield %>
    </div>

    <!-- <nav class="navbar navbar-default navbar-fixed-bottom ">
      <div class="container">
        <div class="navbar-brand footer-size">
          Created by
          <a href="http://zacharias.mitzelos.com" target="_blank">Zacharias Mitzelos</a>
          and
          <a href="http://psmakos.tk" target="_blank">Panagiotis Stephanos Makos</a>, as part of a university assignment in the University of the Aegean
        </div>
      </div>

      </nav> -->

    </body>
  </html>
